      <section class="sidebar">
          <!-- Sidebar user panel -->
          
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <!--
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Account</span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
              </ul>
            </li>
            -->
            <li>
              <a href="/user">
                <i class="fa fa-th"></i> <span>User</span> 
              </a>
            </li>
            <li>
              <a href="/app">
                <i class="fa fa-th"></i> <span>App</span>
              </a>
            </li>
            
            <li>
              <a href="/device">
                <i class="fa fa-th"></i> <span>Device</span>
              </a>
            </li>
          </ul>
        </section>
  